<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

<div class="flex items-center justify-between mb-8">
  <div>
    <h1 class="text-2xl font-bold text-gray-800">Templates</h1>
    <p class="text-gray-500 mt-1">
        Crie templates para seus processos de onboarding e replique-os facilmente na criação de novos processos.
      </p>
  </div>

  <%= link_to "Novo template", new_template_path,
    class: "inline-block px-5 py-2.5 bg-blue-600 text-white font-medium rounded-lg shadow hover:bg-blue-700 transition" %>
</div>

  <div id="templates" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @templates.any? %>
      <% @templates.each do |template| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render template %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", template, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_template_path(template), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Destroy", template, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No templates found.</p>
    <% end %>
  </div>
</div>
